/* Rectangle 1 */

.rec {

    position: relative;
    width: 1073px;
    height: 106px;
    left: 200px;
    top: 92px;
    background: #bd0404;
    /* background */
    margin: 100;
}

.rec1 {

    position: relative;
    width: 1073px;
    height: 106px;
    left: 200px;
    top: 92px;
    background: #bd0404;
    /* background */

}

/* Rectangle 2 */
.rec2 {

    position: relative;
    width: 1324px;
    height: 500px;
    left: 80px;
    top: 200px;

    background: #ffffff;
    /* background */
}


/* Rectangle 3 */
.rec3 {

    position: relative;
    width: 511px;
    height: 245px;
    left: 110px;
    top: 280px;

    background: #ffffff;
    /* background */
}


/* Rectangle 4 */
.rec4 {

    position: relative;
    width: 189px;
    height: 65px;
    left: 1200px;
    top: 200px;
    background: #ffffff;
    /* background */
    border-radius: 20px;

}


/* Rectangle 5 */
.rec5 {

    position: relative;
    width: 387px;
    height: 301px;
    left: 950px;
    bottom: 550px;

    background: #ffffff;
    /* background */
    border-radius: 10px;
    max-width: 387px;
    max-height: 301px;

}

/* Rectangle 6 */
.rec6 {
    position: relative;
    width: 399px;
    height: 178px;
    left: 60px;
    top: 30px;
    background: #ffffff;
    font-size: large;
}


/* Rectangle 7 */
.rec7 {
    position: relative;
    width: 729px;
    height: 400px;
    left: 70px;
    top: 30px;

    background: #ffffff;
    font-size: large;
 
}


/* Rectangle 8 Title*/
.rec8 {
    position: relative;
    width: 886px;
    height: 70px;
    left: 100px;
    top: 20px;
    background: #ffffff;
    font-size: x-large;
}


/* Rectangle 2 */
.REC1 {
    position: absolute;
    width: 739px;
    height: 669px;
    left: 77px;
    top: 289px;
    background-color: red;
    /* background: #B7CAD4; */
}

/* Rectangle 5 */
.REC2 {
    position: absolute;
    width: 387px;
    height: 301px;
    left: 953px;
    top: 335px;

    background: #9DACAD;
    border-radius: 10px;
}

/* Rectangle 1 */
.REC3 {
    position: absolute;
    width: 1073px;
    height: 106px;
    left: 202px;
    top: 137px;

    background: #B7CAD4;
}

/* Rectangle 4 */
.REC4 {
    position: absolute;
    width: 189px;
    height: 65px;
    left: 1151px;
    top: 893px;

    background: #799597;
    border-radius: 20px;
}

.REC5 {
    position: absolute;
    width: 387px;
    height: 166px;
    left: 953px;
    top: 682px;

    background: #B3CBCC;
    border-radius: 10px;
}